/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
 :root {
  --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";

  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  --text-h1: 36px;
  --text-h2: 32px;
  --text-h3: 28px;
  --text-h4: 24px;
  --text-h5: 20px;
  --text-h6: 16px;
  
  --text-sm: 12px;
  --text-md: 18px;
  --text-lg: 24px;
}
 :root .light {
    --color-foreground: hsl(0, 0%, 10%);
    --color-background: hsl(0, 0%, 90%);
    --color-links: hsl(213, 100%, 50%);
    --color-links-hover: hsl(213, 100%, 35%);
    --color-border: hsl(0, 0%, 10%);
    --color-text: hsl(0, 0%, 10%);
  }
  :root .dark {
    --color-foreground: hsl(0, 0%, 90%);
    --color-background: hsl(0, 0%, 10%);
    --color-links: hsl(213, 100%, 50%);
    --color-links-hover: hsl(213, 100%, 65%);
    --color-border: hsl(0, 0%, 90%);
    --color-text: hsl(0, 0%, 90%);
  }

  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  :-moz-focusring {
    outline: auto;
  }
  
  :focus {
    outline: var(--color-links) solid 2px;
    outline-offset: 2px;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
  
  body {
    font-family: var(--font-body);
    line-height: 1.5;
  }
  
  .container {
    display:flex;
    flex-direction: row;
    --gutter: 16px;
    width: 100%;
    height: 100%;
    max-width: calc(100% - var(--gutter) * 2);
    margin-right: auto;
    margin-left: auto;
}

  .avatar {
    /* Center the content */
    display: inline-block;
    vertical-align: middle;
    /* Used to position the content */
    position: relative;
    /* Colors */
    background-color: rgb(240, 240, 240);
    color: rgb(3, 3, 3);
    /* Rounded border */
    border-radius: 50%;
    height: 48px;
    width: 48px;
  }

  .avatar__image {
    /* Rounded border */
    border-radius: 50%;
    /* Take full size */
    height: 100%;
    width: 100%;
  }

  .avatar__letters {
    /* Center the content */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  a {
    color: var(--color-links);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--color-links-hover);
    text-decoration: underline;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    background-color: var(--color-border);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  input:where([type="text"]),
  input:where([type="search"]) {
    display: block;
    border: 1px solid var(--color-border);
    width: 100%;
    font: inherit;
    line-height: 1;
    height: calc(1ch + 1.5em);
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: hsl(0 0% 100% / 20%);
    color: var(--color-foreground);
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }