div {
  border-width: 0;
}

div nav {
border-width: 0;
}

div nav ul {
border-width: 0;
}

div nav ul li {
border-width: 0;
}

div nav ul li a {
border-width: 0;
}



div h1 {
border-width: 0;
}



div ul {
border-width: 0;
}

div ul li {
border-width: 0;
}

div ul li a {
border-width: 0;
}

div.remix-app {
border-width: 0;
}

div.remix-app header.remix-app__header {
border-width: 0;
}

div.remix-app header.remix-app__header div.remix-app__header-content {
border-width: 0;
}

div.remix-app header.remix-app__header div.remix-app__header-content link.remix-app__header-logo {
border-width: 0;
}



div.remix-app header.remix-app__header div.remix-app__header-content remixlogo {
border-width: 0;
}

div.remix-app header.remix-app__header div.remix-app__header-content remixlogo nav.remix-app__header-nav {
border-width: 0;
}

div.remix-app header.remix-app__header div.remix-app__header-content remixlogo nav.remix-app__header-nav ul {
border-width: 0;
}

div.remix-app header.remix-app__header div.remix-app__header-content remixlogo nav.remix-app__header-nav ul li {
border-width: 0;
}

div.remix-app header.remix-app__header div.remix-app__header-content remixlogo nav.remix-app__header-nav ul li link {
border-width: 0;
}



div.remix-app div.remix-app__main {
border-width: 0;
}

div.remix-app div.remix-app__main aside.remix-app__left {
border-width: 0;
}



div.remix-app div.remix-app__main article.remix-app__middle {
border-width: 0;
}



div.remix-app div.remix-app__main nav.remix-app__right {
border-width: 0;
}



div.remix-app div.remix-app__main div.remix-app__main-content {
border-width: 0;
}



div.remix-app footer.remix-app__footer {
border-width: 0;
}

div.remix-app footer.remix-app__footer div.remix-app__footer-content {
border-width: 0;
}

div.remix-app footer.remix-app__footer div.remix-app__footer-content p {
border-width: 0;
}

